.idea
.env

/apps/Frontend/
/apps/Backend/
/apps/postgresql/postgresql-data/
/apps/grafana/data/
/apps/prometheus/data/
/apps/redis/data/
/apps/nginx/ssl/ca.crt
/apps/nginx/ssl/desc-education.ru.crt
/apps/nginx/ssl/certificate_ca.crt
/apps/nginx/ssl/desc-education.ru.key
